In [26]:
import pandas as pd

In [13]:
amazon_df = pd.read_csv('./amazon_cells_labelled.txt',names=['sentence', 'label'], delimiter = "\t")
imdb_df = pd.read_csv('./imdb_labelled.txt',names=['sentence', 'label'], delimiter = "\t")
amazon_df
imdb_df

                                              sentence  label
0    A very, very, very slow-moving, aimless movie ...      0
1    Not sure who was more lost - the flat characte...      0
2    Attempting artiness with black & white and cle...      0
3         Very little music or anything to speak of.        0
4    The best scene in the movie was when Gerardo i...      1
..                                                 ...    ...
743  I just got bored watching Jessice Lange take h...      0
744  Unfortunately, any virtue in this film's produ...      0
745                   In a word, it is embarrassing.        0
746                               Exceptionally bad!        0
747  All in all its an insult to one's intelligence...      0

[748 rows x 2 columns]

In [27]:
import pandas as pd

filepath_dict = {'amazon': './amazon_cells_labelled.txt',
                 'imdb':   './imdb_labelled.txt'}

df_list = []
for source, filepath in filepath_dict.items():
    df = pd.read_csv(filepath, names=['sentence', 'label'], sep='\t')
    df['source'] = source  
    df_list.append(df)

df = pd.concat(df_list)
print(df.iloc[0])
df

sentence    So there is no way for me to plug it in here i...
label                                                       0
source                                                 amazon
Name: 0, dtype: object

                                              sentence  label  source
0    So there is no way for me to plug it in here i...      0  amazon
1                          Good case, Excellent value.      1  amazon
2                               Great for the jawbone.      1  amazon
3    Tied to charger for conversations lasting more...      0  amazon
4                                    The mic is great.      1  amazon
..                                                 ...    ...     ...
743  I just got bored watching Jessice Lange take h...      0    imdb
744  Unfortunately, any virtue in this film's produ...      0    imdb
745                   In a word, it is embarrassing.        0    imdb
746                               Exceptionally bad!        0    imdb
747  All in all its an insult to one's intelligence...      0    imdb

[1748 rows x 3 columns]

Amazon Baseline Classification Model

In [35]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
amazon_df = df[df['source'] == 'amazon']
sentences = amazon_df['sentence'].values
y = amazon_df['label'].values
sentences_train, sentences_test, y_train, y_test = train_test_split(sentences, y, test_size=0.20, random_state=1000)

vectorizer = CountVectorizer()
vectorizer.fit(sentences_train)

X_train = vectorizer.transform(sentences_train)
X_test  = vectorizer.transform(sentences_test)
classification_model = LogisticRegression()
classification_model.fit(X_train, y_train)
score = classification_model.score(X_test, y_test)
print(f'Accuracy for Amazon data classification model:{score}')

Accuracy for Amazon data:0.8

IMBD Baseline Classification Model

In [36]:
imdb_df = df[df['source'] == 'imdb']
sentences = imdb_df['sentence'].values
y = imdb_df['label'].values
sentences_train, sentences_test, y_train, y_test = train_test_split(sentences, y, test_size=0.20, random_state=1000)

vectorizer = CountVectorizer()
vectorizer.fit(sentences_train)

X_train = vectorizer.transform(sentences_train)
X_test  = vectorizer.transform(sentences_test)
classification_model = LogisticRegression()
classification_model.fit(X_train, y_train)
score = classification_model.score(X_test, y_test)
print(f'Accuracy for IMBD data classification model:{score}')

Accuracy for IMBD data:0.7866666666666666